.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(125, 142, 154, 1);
  height: 80px;
}
.navigation_list {
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.navigation_link {
  color: antiquewhite;
}
.navigation_link:hover {
  color: white;
}
.active_link {
  position: relative;
}
.active_link::before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -6px;
  background-color: antiquewhite;
}
