.features_list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
}
.list_item {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--main);
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  border-radius: 100px;
  background-color: var(--block_features);
}
