.card_container {
  padding: 24px;
  display: flex;
  width: 888px;
  column-gap: 24px;
  border-radius: 20px;
  border: solid 1px rgba(16, 24, 40, 0.2);
}
.camper_picture_container {
  border-radius: 10px;
  overflow: hidden;
}
.camper_picture_container > img {
  height: 100%;
  object-fit: cover;
}
.details_container {
  width: 526px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.card_head {
  display: flex;
  justify-content: space-between;

  font-weight: 600;
  font-size: 24px;
}
.price_favor_container {
  display: flex;
  column-gap: 10px;
}

.description {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.show_more_btn {
  color: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #fff;
  background-color: var(--button);
  border-color: transparent;
  width: 166px;
  height: 56px;
  border-radius: 200px;
}
.favorites_bth {
  background-color: transparent;

  border: none;
  fill: transparent;
  stroke: var(--main);
  stroke-width: 2.3px;
}

.in_favorites {
  background-color: transparent;
  border: none;
  stroke: red;
  fill: red;
}
